@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: white;
    --preto: black;
    --verde-1: #58935C;
    --cor-de-fundo: #1E4884;
    --cor-de-fundo-do-cabeçalho: #F2F2F2;
    --cor-do-nome-do-colegio: #004AAD;
    --cor-do-titulo-principal: #9AE3A4;
    --cor-do-titulo-topicos: #08DF40;
    --cor-de-fundo-do-rodape: #0D1520;
    --cor-do-texto-rodape: #069B2E;
    --cor-do-texto-strong-rodape: #08D43F;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}

h2 {
    color: var(--cor-do-titulo-topicos);
    padding-bottom: 10px;
}

p {
    line-height: 20px;
}

li{
    padding: 5px;
}

a {
    color: var(--branco);
}

div img {
    border-radius: 20px;
    border: 2px solid var(--branco);
}

strong {
    color: var(--cor-do-texto-strong-rodape);
}

.cabeçalho {
    font-family: "Questrial", sans-serif;
    background-color: var(--branco);
    display: flex;
    padding-left: 40px;
    padding: 10px;
}

.icone-do-colegio {
    width: 100px;
}

.nome-do-colegio-2 {
    color: var(--cor-do-nome-do-colegio);
    margin: 30px 0 0 0;
}

.nome-do-colegio-3 {
    color: var(--verde-1);
}

.título-e-introdução-corpo {
    background-image: url(Imagens/plano-de-fundo-titulo.png);
    height: 468px;
    background-size: cover;
    position: relative;
}

.título-e-introdução-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo {
    color: var(--cor-do-titulo-principal);
    margin: 20px;
    text-align: center;
}

.conteudo {
    background-color: var(--verde-1);
    color: var(--branco);
    text-align: center;
    margin: 10px 15%;
    border-radius: 30px;
}

.conteudo-titulo{
    font-weight: normal;
    padding: 10px;
}

.conteudo-lista {
    list-style: none;
    padding: 0 30px;
}

.topicos {
    padding: 20px 13%;
}

#ferramentas-de-jardinagem {
    text-align: center;
}

.ferramentas-de-jardinagem-titulo-e-texto {
    text-align: left;
    margin-bottom: 5px;
}

#vasos-e-recipientes {
    display: flex;
    padding: 15px 0;
}

.vasos-e-recipientes-titulo-e-texto {
    padding-right: 5%;
    position: relative;
    transform: translateY(15%);
}

#terra-e-substrato-de-qualidade {
    display: flex;
    padding: 15px 0;
}

.terra-e-substrato-de-qualidade-titulo-e-texto {
    padding-left: 5%;
    position: relative;
    transform: translateY(18%);
}

#sistema-de-irrigação {
    display: flex;
    padding: 15px 0;   
}

.sistema-de-irrigação-titulo-e-texto {
    padding-right: 5%;
    position: relative;
    transform: translateY(18%);
}

#composteira {
    display: flex;
    padding: 15px 0;
}

.composteira-titulo-texto {
    padding-left: 5%;
    position: relative;
    transform: translateY(18%);
}

#estufa-ou-miniestufa {
    display: flex;
    padding: 15px 0;
}

.estufa-ou-miniestufa-titulo-e-texto {
    padding-right: 5%;
    position: relative;
    transform: translateY(18%);
}

#iluminacao-artificial {
    display: flex;
    padding: 15px 0;
}

.iluminacao-artificial-titulo-texto {
    padding-left: 5%;
    position: relative;
    transform: translateY(18%);
}

#controle-de-pragas {
    display: flex;
    padding: 15px 0;
}

.controle-de-pragas-titulo-e-texto {
    padding-right: 5%;
    position: relative;
    transform: translateY(18%);
}

#conclusao {
    padding: 15px 0;
    text-align: center;
}

.rodape {
    background-color: var(--cor-de-fundo-do-rodape);
    color: var(--cor-do-texto-rodape);
    display: flex;
    padding: 20px 36%;
    text-align: center;
}

.icone-do-colegio-2 {
    max-height: 150px;
}

.rodape-texto {
    padding: 0 10px;
    transform: translateY(11%);
}

.creditos {
    color: var(--cor-do-texto-rodape);
    position: relative;
    transform: translateY(11%);
    font-size: small;
}