@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
}

:root {
    --branco: white;
    --preto: black;
    --verde-1: #58935C;
    --cor-de-fundo: #1E4884;
    --cor-de-fundo-do-cabeçalho: #F2F2F2;
    --cor-do-nome-do-colegio: #004AAD;
    --cor-do-titulo-principal: #9AE3A4;
    --cor-de-fundo-do-rodape: #0D1520;
    --cor-do-texto-rodape: #069B2E;
    --cor-do-texto-strong-rodape: #08D43F;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    text-align: center;
}

a {
    color: var(--branco);
}

p {
    margin: 10px 0;
}

strong {
    color: var(--cor-do-texto-strong-rodape);
}

.cabeçalho {
    font-family: "Questrial", sans-serif;
    background-color: var(--branco);
    display: flex;
    padding-left: 40px;
    padding: 10px;
}

.icone-do-colegio {
    width: 100px;
}

.nome-do-colegio-2 {
    color: var(--cor-do-nome-do-colegio);
    margin: 30px 0 0 0;
}

.nome-do-colegio-3 {
    color: var(--verde-1);
}

.redes-sociais {
    padding: 20px 15%;

}

.titulo {
    color: var(--cor-do-titulo-principal);
}

.insta {
    padding: 10px 0;
}

.insta-imagem {
    max-width: 100px;
}

.facebook {
    padding: 10px 0;
}

.facebook-imagem {
    max-width: 100px;
}

.rodape {
    background-color: var(--cor-de-fundo-do-rodape);
    color: var(--cor-do-texto-rodape);
    display: flex;
    padding: 20px 36%;
    text-align: center;
}

.icone-do-colegio-2 {
    max-height: 150px;
}

.rodape-texto {
    padding: 0 10px;
    transform: translateY(11%);
}

.site-principal {
    color: var(--cor-do-texto-rodape);
    position: relative;
    transform: translateY(11%);
}